.header {
padding: 40px;
text-align: right;
background:url('Boxer.jpg');
color:white;
font-size:50px;
font-family: "Tahoma", sans-serif; 
font-weight: bold;
}

#hometext{
  font-size:40px;
  font-family: "Tahoma", sans-serif; 
  font-weight: bold;
  text-align: center;
}
#hometext .btn{
  padding-left: 5%;
  padding-right: 5%;
}

body p.datenumber {
    font-size: .7em;
    text-align: right;
    color: rgb(83, 74, 74);
}


.form_btn{
    display:flex; 
    justify-content:flex-end; 
    width:100%; 
    padding:10px;
}

.form_btn .btn{
  margin-left: 5px;
}
.message{
    margin-top: 20px;
    height: 100%;
    width: 100%;
    text-align: left;
    min-height: 10em;
    font-size: larger;
}

.text_align_center{
    text-align: center;
}

.form_wrapper{
    width: 55em;
    margin: 0 auto;  
    padding: 1.5em;
}

.error_message{
    color: red;
}

.financial_report_table{
    display: none;
}

#input {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width:100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}