{% extends "_layout.html" %}

{% block title %}Class Check-In{% endblock %}

{% block body %}
<form method="POST">
  <div class="container">
    <p>Listed below are any group classes occuring today that you have booked:</p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Class Name</th>
          <th scope="col">Class Time</th>
          <th scope="col">Check</th>
        </tr>
      </thead>
      <tbody>
        {% for result in checkclass_result%}
        <tr>
          <td>{{result[0]}}</td>
          <td id="session_time"><input type="hidden" id="session_time" name="session_time" value="{{result[2]}}"/>{{result[2]|timefilter}}</td>
          <td><button onclick="alert('You have successfully checked in.')">Check in</button></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</form>

{% endblock %}