{% extends "_layout.html" %}

{% block title %}Member Dashboard{% endblock %}



{% block body %}
    <h1>Welcome to the member dashboard</h1>
    <p> Please select what you would like to do</p>
    <a class="btn btn-primary" href="/view_member_profile" role="button">View and/or update your profile</a>
    <a class="btn btn-primary" href="/meet_trainer" role="button">Book a trainer</a>
    <a class="btn btn-primary" href="/group_class_calendar" role="button">Book a class</a>
    <a class="btn btn-primary" href="/member_schedule" role="button">View your bookings</a>
    <br />
    <br />
    <a class="btn btn-primary" href="/check_in" role="button">Check in to the gym/class/personal training</a>
    <a class="btn btn-primary" href="/subscription" role="button"> Update your subscription</a> 
    <a class="btn btn-primary" href="/make_a_payment" role="button">Make a payment / View subscription details </a> 
    
{% endblock %}