{% extends "_layout.html" %}

{% block title %}Newsletter{% endblock %}

{% block body %}

<div class="container">
    <h1>Set Up Your Newsletter</h1>
    <form action="#" method="POST">
        <label for="text">Email Title:  </label>
        <input type='text' name='title' id='title' required="required" /> <br />
        <p>Write your newsletter</p>
        <textarea name="body" id="body" cols="60" rows="10" required="required"></textarea> <br />
        <p>The page may take a while to load once you press send. Please do not refresh.</p>
        <input type="reset" />
        <input type='submit' value='Send Newsletter' />
    </form>
</div>

{% endblock %}